<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Alerts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-3 col-md-6">
        <button ng-if="refreshing_alerts" class="btn btn-info" style="min-width:100px" disabled>
            <i class="fa fa-spinner faa-spin animated" style="margin-right:5px"></i>
        </button>
        <button ng-if="!refreshing_alerts" class="btn btn-info"
                ng-click="refresh('alerts')" style="min-width:100px">
            <i class="fa fa-refresh" style="margin-right:5px"></i>Refresh
        </button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Alerts
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Device</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="alert in alerts"
                                ng-show="!loader.loading">
                                <td>{a alert.device a}</td>
                                <td>{a alert.type a}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="col-lg-12" ng-show="loader.loading" style="text-align:center">
                            <img src="/static/web_app/images/loading_horizontal.gif">
                        </div>
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>