<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i  style="font-size: 7em;"  class="fa fa-arrows-alt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{a devices.length a}</div>
                        <div>Devices</div>
                        <p></p>
                    </div>
                </div>
            </div>
            <a href="devices">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size: 7em;" class="fa fa-globe fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div ng-if="settings['nso'].sync_state == 'in_sync'" class="huge">{a running_services_count a}</div>
                        <div ng-if="settings['nso'].sync_state != 'in_sync'" class="huge">-</div>
                        <div>Services running</div>
                        <div ng-if="settings['nso'].sync_state != 'in_sync'">(sync in progress)</div>
                    </div>
                </div>
            </div>
            <a href="running/services">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>

            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size: 7em;" class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div ng-if="settings['nso'].sync_state == 'in_sync'" class="huge">{a services.length a}</div>
                        <div ng-if="settings['nso'].sync_state != 'in_sync'" class="huge">-</div>
                        <div>Services in catalog</div>
                        <div ng-if="settings['nso'].sync_state != 'in_sync'">(sync in progress)</div>
                    </div>
                </div>
            </div>
            <a href="catalog/services">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size: 7em;" class="fa fa-warning fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{a alerts.length a}</div>
                        <div>Alerts</div>
                    </div>
                </div>
            </div>
            <a href="alerts">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>