<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Web NSO</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="container" ng-controller="LocationController">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <p>This tool allows you to dynamically create and remove services. It syncs with the Network Services
                Orchestrator
                to dynamically generate the site. If you add a new service to NSO, just go to Account -> Settings and
                press Re-Sync;
                After the process finishes, you will see your new service in the site.
            </p>
            <p>In addition, you can create and remove devices and see the alerts from NSO
            </p>
            <hr/>
            <div id="div_content">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 option-container ">
                    <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-info option"
                            ng-click="go('dashboard')">
                        <img class="btn-image" style=""
                             src="/static/web_app/images/CiscoLogoWhite.png">
                        <h3 style="color:white">Dashboard</h3>
                    </button>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 option-container ">
                    <button class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary option"
                            ng-click="go('devices')">
                        <img class="btn-image" style=""
                             src="/static/web_app/images/CiscoLogoWhite.png"><br/>

                        <h3 style="color:white">Devices</h3>
                    </button>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 option-container ">
                    <button ng-click="go('running/services')"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-success option">
                        <img class="btn-image" style=""
                             src="/static/web_app/images/CiscoLogoWhite.png">
                        <h3 style="color:white">Services</h3>
                    </button>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 option-container ">
                    <button ng-click="go('alerts')"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-warning option">
                        <img class="btn-image" style=""
                             src="/static/web_app/images/CiscoLogoWhite.png">
                        <h3 style="color:white">Alerts</h3>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>