{% extends "web_app/base.html" %}

{% block navbar %}

{% include "web_app/login_menu_partial.html" %}

{% endblock navbar %}

{% block content %}

<div class="container" style="max-width:650px" ng-app="appModule">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 100px;" ng-controller="AuthController">
        <form class="form-horizontal" ng-submit="submit()">
            <!-- Static navbar -->
            <div id="div_login" class="panel panel-primary">
                <div class="panel-heading">Please, log in
                    <div id="login_response" style="float:right;font-size:16px"></div>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <label class="col-xs-12"> Username
                        </label>
                        <div class="col-xs-12">
                            <input ng-model="user.username" type="text" class="form-control" maxlength="50"
                                   id="login_username"
                                   name="login_username" placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12"> Password
                        </label>
                        <div class="col-xs-12">
                            <input type="password" class="form-control" maxlength="50" id="login_password" value=""
                                   ng-model="user.password"
                                   name="login_password" placeholder="Password">
                        </div>
                    </div>

                    <label class="col-xs-12">
                        {a message a}
                    </label>
                    <br>
                    <hr/>


                    <button type="submit" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
