<div class="modal fade" id="TOKEN" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     ng-controller="AuthController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Token</h3>
            </div>
            <div class="modal-body" style="margin:15px">
                <div class="row">
                    <p>
                        Use the following token in the authorization header of
                        your request to make API calls to this app
                    </p>
                    <p>
                        {a token a}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>