<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">System Settings</h1>
    </div>
    <form role="form" method="post">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        NSO
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Address:</label>
                                    <label>{a settings['nso'].address a}</label>
                                </div>
                                <div class="form-group">
                                    <label>HTTP Port:</label>
                                    <label>{a settings['nso'].http_port a}</label>
                                </div>

                                <div class="form-group">
                                    <label>NETCONF Port:</label>
                                    <label>{a settings['nso'].netconf_port a}</label>
                                </div>
                                <div class="form-group">
                                    <label>Package Directory:</label>
                                    <label>{a settings['nso'].package_directory a}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12" style="text-align:right">
                        <div class="form-group">

                            <button ng-if="settings['nso'].sync_state == 'in_sync'" type="submit" class="btn btn-primary" style="min-width:100px"
                                    ng-click="NSOSync()">Re-sync
                            </button>

                            <button ng-if="settings['nso'].sync_state != 'in_sync'" type="button"
                                    class="btn btn-primary" style="min-width:100px" disabled>Syncing...
                            </button>

                            <button ng-controller="LocationController" class="btn btn-default"
                                    ng-click="go('/')" style="min-width:100px">Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </form>
</div>