<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Service Catalog</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-if="settings['nso'].sync_state != 'in_sync'">
        <p>Sync is in progress. Services will be listed when it finishes</p>
    </div>
    <div class="row" ng-if="settings['nso'].sync_state == 'in_sync'">
        <div class="panel panel-default">
            <div ng-if="settings['nso'].sync_state == 'in_sync'" class="panel-heading">
                Services
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>

                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="service in services" ng-click="setService(service)"
                                    ng-show="!loader.loading">
                                    <td>{a service['module']['name'] | capitalize | removeSpecialCharacters a}</td>

                                    <td style="width: 175px;height: 62px;">
                                        <a href="catalog/services/new/{a service['module']['name'] a}/"
                                           class="btn btn-success btn-outline table_button"
                                           style="margin-left:10px"><i class="fa fa-plus-circle"></i></a>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-12" style="text-align:right">
            <div class="form-group">

                <button ng-controller="LocationController" class="btn btn-default"
                        ng-click="go('running/services')" style="min-width:100px">Back
                </button>
            </div>
        </div>
    </div>

</div>